/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.test-container {
  background-color: #fff;
  border: 1px #000 solid;
  padding: 15px;
  overflow: auto;
  height: 300px;
}

#curlcast__settings,
#curlcast__summary {
  vertical-align: top;
}

#curlcast__summary {
  padding-left: 20px;
  width: 25%;
  border-left: 1px #dedede solid;
}
