/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.test-container {
  background-color: #fff;
  border: 1px #000 solid;
  padding: 15px;
  overflow-y: auto;
  height: 300px;
}

#curlcast__settings,
#curlcast__summary {
  vertical-align: top;
}

#curlcast__summary {
  padding-left: 20px;
  width: 25%;
  border-left: 1px #dedede solid;
}

.widget-sample__table {
  table-layout: fixed;
  width: 100%;
}

.widget-sample__full {
  width: 75%;
  max-width: 75%;
}

.widget-sample__mini {
  width: 25%;
  max-width: 25%;
}

#curlcast-full,
#curlcast-mini{
  width: 100%;
}
